<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.baike.mapper.SearchResultMapper">
    <resultMap id="InteractiveVideoMap" type="BKInteractiveVideo">
        <id property="interVideoID" column="interVideoID"/>
        <result property="uID" column="uID"/>
        <result property="introduction" column="introduction"/>
        <result property="playVolume" column="playVolume"/>
        <result property="praisePoint" column="praisePoint"/>
        <result property="collectPoint" column="collectPoint"/>
        <result property="tag" column="tag"/>
        <result property="state" column="state"/>
        <result property="uploadTime" column="uploadTime"/>
        <result property="initVideoID" column="initVideoID"/>
        <result property="icon" column="icon"/>
        <result property="videoName" column="videoName"/>
    </resultMap>

    <select id="selectByName" resultMap="InteractiveVideoMap">
        select * from BK_InteractiveVideo
        where 1=1
        <choose>
            <when test='SearchName != "Adventure" and SearchName != "Mystery" and SearchName != "Thriller" and SearchName != "Romance" and SearchName!= "Comedy" and SearchName!= "Time-travel" '>
               and videoName  LIKE CONCAT('%',#{SearchName},'%')
            </when>
            <otherwise>
              and   tag=#{SearchName}
            </otherwise>
        </choose>

        <if test="tag != 'all' and tag != null ">
            and tag=#{tag}
        </if>

        order by playVolume desc
    </select>

</mapper>