<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.baike.mapper.BarrageMapper">
    <insert id="insertBarrage">
        insert into BK_Barrage(uID, videoID, content, sendTime, videoTime, color, bType)
        values (#{uID}, #{videoID}, #{content}, #{sendTime}, #{videoTime}, #{color}, #{bType})
    </insert>
    <resultMap id="barrageMap" type="BKBarrage">
        <id property="uID" column="uID"/>
        <id property="videoID" column="videoID"/>
        <id property="sendTime" column="sendTime" jdbcType="TIMESTAMP"/>
        <result property="content" column="content"/>
        <result property="videoTime" column="videoTime"/>
        <result property="color" column="color"/>
        <result property="bType" column="bType"/>
    </resultMap>
    <select id="selectAllBarragesByVID" resultMap="barrageMap">
        select * from BK_Barrage
        where videoID = #{vID}
    </select>
</mapper>
