<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.baike.mapper.InteractiveVideoMapper">
    <insert id="insertInteractiveVideo" useGeneratedKeys="true" keyProperty="interVideoID">
        insert into BK_InteractiveVideo (uID, videoName, introduction, tag, state, uploadTime, icon)
        values (#{uID}, #{videoName}, #{introduction}, #{tag}, #{state}, #{uploadTime}, #{icon})
    </insert>

    <insert id="insertVideo" useGeneratedKeys="true" keyProperty="videoID">
        insert into BK_Video (interVideoID, videoURL, title)
        values
        <foreach collection="list" item="video" separator=",">
            (#{video.interVideoID}, #{video.videoURL}, #{video.title})
        </foreach>
    </insert>

    <delete id="deleteInteractiveVideoByID">
        delete from BK_InteractiveVideo
        where interVideoID = #{vID}
    </delete>

    <resultMap id="interVideoMap" type="BKInteractiveVideo">
        <id property="interVideoID" column="interVideoID"/>
        <result property="uID" column="uID"/>
        <result property="videoName" column="videoName"/>
        <result property="introduction" column="introduction"/>
        <result property="playVolume" column="playVolume"/>
        <result property="praisePoint" column="praisePoint"/>
        <result property="collectPoint" column="collectPoint"/>
        <result property="tag" column="tag"/>
        <result property="state" column="state"/>
        <result property="uploadTime" column="uploadTime" jdbcType="TIMESTAMP"/>
        <result property="icon" column="icon"/>
        <result property="initVideoID" column="initVideoID"/>
    </resultMap>
    <select id="selectInterVideosByUserIf" resultMap="interVideoMap">
        select interVideoID, videoName, introduction, playVolume, praisePoint, collectPoint, tag, uploadTime, icon
        from BK_InteractiveVideo
        <where>
            <if test="uID != null">
                and uID = #{uID}
            </if>
            <if test="state != null">
                and state = #{state}
            </if>
        </where>
    </select>

    <resultMap id="videoMap" type="BKVideo">
        <id property="videoID" column="videoID"/>
        <result property="interVideoID" column="interVideoID"/>
        <result property="videoURL" column="videoURL"/>
        <result property="title" column="title"/>
    </resultMap>
    <select id="selectVideoByInterVID" resultMap="videoMap">
        select videoURL, title, interVideoID, videoID
        from BK_Video
        <where>
            <if test="interVideoID != null">
                and interVideoID = #{interVideoID}
            </if>
        </where>
    </select>

    <update id="updateInterVideoStartVideo">
        update BK_InteractiveVideo
        set initVideoID = #{initVideoID}
        where interVideoID = #{interVideoID}
    </update>

    <insert id="insertNextVideo">
        insert into BK_NextVideo (videoID, nextVideoID, choice)
        values (#{videoID}, #{nextVideoID}, #{choice})
    </insert>
</mapper>