<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.baike.mapper.LoginMapper">
    <resultMap id="userMap" type="BKUser">
        <id property="uID" column="uID"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="salt" column="salt"/>
    </resultMap>

    <select id="selectByAccount" resultMap="userMap">
        select * from BK_User
        where account = #{account}
    </select>
    <select id="selectStateByUID" resultType="com.example.baike.constant.state.UserState">
        select state from BK_UserInfo
        where uID = #{uID}
    </select>
</mapper>
