<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.baike.mapper.SearchUserMapper">
    <resultMap id="SearchUserMap" type="BKSearchUser">
        <id property="uID" column="uID"/>
        <result property="nickName" column="nickName"/>
        <result property="iconURL" column="icon"/>
        <result property="introduction" column="introduction"/>
    </resultMap>

    <select id="selectByName" resultMap="SearchUserMap">
        select uID,nickName,icon,introduction from BK_UserInfo
        where nickName  LIKE CONCAT('%',#{SearchName},'%') and state=1 order by introduction desc
    </select>

</mapper>