<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.baike.mapper.VideoByOrderMapper">
    <resultMap id="InteractiveVideoMap" type="BKInteractiveVideo">
        <id property="interVideoID" column="interVideoID"/>
        <result property="uID" column="uID"/>
        <result property="introduction" column="introduction"/>
        <result property="playVolume" column="playVolume"/>
        <result property="praisePoint" column="praisePoint"/>
        <result property="collectPoint" column="collectPoint"/>
        <result property="tag" column="tag"/>
        <result property="state" column="state"/>
        <result property="uploadTime" column="uploadTime"/>
        <result property="initVideoID" column="initVideoID"/>
        <result property="icon" column="icon"/>
        <result property="videoName" column="videoName"/>
    </resultMap>

    <select id="selectByPlayVolume" resultMap="InteractiveVideoMap">
        select * from ( (select * from Baike.BK_InteractiveVideo where state=2 order by playVolume  desc) as a) limit 12;
    </select>

    <select id="selectByCollectVolume" resultMap="InteractiveVideoMap">
        select * from ( (select * from Baike.BK_InteractiveVideo where state=2 order by collectPoint  desc) as a) limit 12;
    </select>

    <select id="selectByPraiseVolume" resultMap="InteractiveVideoMap">
        select * from ( (select * from Baike.BK_InteractiveVideo where state=2 order by praisePoint  desc) as a) limit 10;
    </select>

    <select id="selectByTime" resultMap="InteractiveVideoMap">
        select * from ( (select * from Baike.BK_InteractiveVideo where state=2 order by uploadTime  desc) as a) limit 12;
    </select>
</mapper>